@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel>div>div.rounded-lg  {
  border-radius: 0!important;
}

.h-modal>.md\:h-auto{
  height: 100%!important;
}

.clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}